body {
	padding: 0px;
	margin: 0px;
}
div {
	padding: 0px;
	margin: 0px;
}
label {
	padding: 0px;
	margin: 0px;
}
p {
	padding: 0px;
	margin: 0px;
}
table {
	padding: 0px;
	margin: 0px;
	border: 0px solid black;
	border-collapse: collapse;
}
tr {
	padding: 0px;
	margin: 0px;
	border: 0px solid black;
}
td {
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
}
form {
	padding: 0px;
	margin: 0px;
}
input[type = text] {
	background-color: #CCCCCC;
	border: 0px;
	width: 210px;
	height: 25px;
}
input[type = password] {
	background-color: #CCCCCC;
	border: 0px;
	width: 210px;
	height: 25px;
}
textarea {
	background-color: #CCCCCC;
	border: 0px;
}
#title {
	font-size: xx-large;
	font-weight: bolder;
}